.hello-ahmed {
    border: solid 1px black;
    max-width: 100vw;
    justify-content: center;
    text-align: center;
}

h3 {
    scroll-margin-top: 10px;
    color: tomato;
    justify-content: center;
    background-color: black;
    text-align: center;
}

.img {
    background-color: tomato;
    width: 1100px;
    height: 500px;
}

#name {
    background-color: #aaaaaa;
    color: black;
}
.hi {
    justify-content: center;
    text-align: center;
}
.awesome {
    border: '1px solid red'
}

.app2 {
    background: hotpink;
}